/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */


.search-content {
	background-color: $primary-blue;
	text-align: center;
	font-size: 50px;
	font-weight: 300;
	color: $white;
  
	.search-content-title {
		  font-size: 20px;
	  font-weight: 650;
	  line-height: 1.2;
		  color: $white;
	}
  
	.search-content-subtitle {
		  font-size: 18px;
	  font-weight: 300;
	  line-height: 1.2;
	  margin-bottom: 21px;
		  color: $white;
	}
  
	.search-container-submit {
		  color: $white;
		  background-color: $primary-dark;
	}
  
	.search-container-input {
	  border: 0px;
	  padding: 0 19px;
	  border-radius: 0px;
	  width: 300px;
	  box-shadow: none;
	  font-size: 20px;
	  line-height: 1.8;
	}
  
	@media (max-width: 767px) {
		  .search-content  {
			  font-size: 30px;
		  }
  
		  .search-content-title {
			  font-size: 30px;
		  }
	  }
	
  }